<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Onix test work</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body> 
     <nav>
    <div class="nav-wrapper blue">
      <a href="http://localhost:3000" class="brand-logo right">Test work</a>
      <ul id="nav-mobile" class="center hide-on-med-and-down">
        <li><a href="http://localhost:3000/login"> Sign In </a></li>
        <li><a href="http://localhost:3000/register"> Sign Up </a></li>
       </ul>
    </div>
  </nav>
<div class="container-fluid ">
  <div class="row justify-content-center ">
    <div class="col-12 col-sm-6 col-md-3 login-form">
      <form onsubmit="sendChangePasswordRequest(event)">
        <h3>Change password</h3>
        <div class="mb-3">
          <input type="password" class="form-control" id="newPass" placeholder="enter your new password here" required>
        </div>
        <button type="submit" class="btn blue">Submit</button>
      </form>
    </div>
  </div>
</div>
</body>
<script>
  function sendChangePasswordRequest(e) {
    e.preventDefault();
    let token = getToken();
    let password = document.getElementById('newPass').value;

    let data = "password=" + password + "&token=" + token;
    console.log('data', data)
    let xhr = new XMLHttpRequest();
    xhr.withCredentials = true;

    xhr.addEventListener("readystatechange", function() {
      if(this.readyState === 4) {
        console.log(this.responseText);
      }
    });

  xhr.open("PATCH", "/auth/changePassword");
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

  xhr.send(data);
}

function getToken() {
  let url_string = window.location.href;
  let url = new URL(url_string);
  return url.searchParams.get('token');
}
</script>