<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body> 
    <nav>
    <div class="nav-wrapper blue">
      <a href="#" class="brand-logo right">Test work</a>
      <ul id="nav-mobile" class="center hide-on-med-and-down">
        <li><a href="/login"> Sign In </a></li>
        <li><a href="/register"> Sign Up </a></li>
        </ul>
    </div>
  </nav>
  <form  method="POST" action="/room/save" style="padding: 20%; text-align: center; padding-top: 10%;">
    <h2 style="color: brown;">Create room </h2>
        
     <div class="row">
        <div class="input-field col s12">
          <input  type="text" class="validate" name="title">
          <span class="helper-text" data-error="wrong" data-success="right">Input title</span>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12">
          <input id="email" type="text" class="validate" name="description">
          <span class="helper-text" data-error="wrong" data-success="right">Input description</span>
        </div>
      </div>
    <div class="row">
        <div class="input-field col s12">
    <input style="visibility: hidden;" id="password" type="text" value="{{id}}" class="validate" name="ownerId">
       <span style="font-size: large; color: red; font-weight: bold" class="helper-text" data-error="wrong" data-success="right">Owner: {{name}}</span>
        </div>
      </div>
      <div class="file-field input-field">
    </div>
   <p><input type="submit" value="Save" class="btn blue"></p>
  </form>
 
</body>

</html>