<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Onix test work</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body> 
     <nav>
    <div class="nav-wrapper blue">
      <a href="http://localhost:3000" class="brand-logo right">Test work</a>
      <ul id="nav-mobile" class="center hide-on-med-and-down">
        <li><a href="http://localhost:3000/login"> Sign In </a></li>
        <li><a href="http://localhost:3000/register"> Sign Up </a></li>
      </ul>
    </div>
  </nav>
<div class="container-fluid ">
  <div class="row justify-content-center ">
    <div class="col-12 col-sm-6 col-md-3 login-form">
      <form action="/auth/forgotPassword" method="POST">
        <h3>Forgot password</h3>
        <div class="mb-3">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email" required>
        </div>
        <button type="submit" class="btn blue">Submit</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>