<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Onix test work</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body> 
   <nav>
    <div class="nav-wrapper blue">
      <a href="http://localhost:3000" class="brand-logo right">Test work</a>
      <ul id="nav-mobile" class="center hide-on-med-and-down">
        <li><a href="http://localhost:3000/login"> Sign In </a></li>
        <li><a href="http://localhost:3000/register"> Sign Up </a></li>
            </ul>
    </div>
  </nav>
<h1 style="color: crimson; text-align: center; margin-top: 100px;">Hello, friends!</h1>
</body>
</html>