.content {
    min-height: calc(100vh - 70px - 32px);
    max-width: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
  .logo {
    height: 30px;
    margin-left: 30px;
  }
  .nav {
    max-width: 100%;
    justify-content: center;
  }
  .form {
    text-align: center;
  }
  .search {
    text-align: center;
  }
  .content {
    min-height: calc(100vh - 70px - 32px);
    max-width: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
  .images {
    max-height: 400px;
    max-width: 300px;
    margin: 30px;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    text-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  }
  .logowatermark {
    justify-content: right;
    max-height: 400px;
    max-width: 300px;
    position: absolute;
    z-index: 1;
  }
  .logoOnix {
    margin-left: 95%;
    margin-top: 90%;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    opacity: 0.5;
  }
  .mainLogo {
    margin-left: 30px;
    margin-top: 15px;
  
    text-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  }
  .h1{
      color: blueviolet;
      background-color: brown;
  }